.postsContainer{
    margin-top:54px;
    z-index: 0;
    position: relative;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;

}
.post{
    margin-top:0px;

    display: table-cell;
}
.post-row
{
    margin-top:0px;

    display: table-row;
}