body{
    background-color:rgba(8, 3, 12, 0.555) ;
}
.post-modal-container{
    display: table-row;
    position: fixed;
    height: 70vw;
    width: 100vw;
    border-radius: 3vw;
    align-self: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.623);
    border: lawngreen;
}
.post-modal-image{
display: table-cell;
height: 45vw;
cursor: pointer;
border-radius: 3vw;
margin: 0;
position: fixed;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
background-color: inherit;
}
.post-modal-text{
    display: table-cell;
    align-self: center;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    right:0%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: white;
    font-family: Calibre,Helvetica,Arial,sans-serif;
    background-color: inherit;

}
.post-text{
    font-weight: 100;
    font-size: 5vh;
    background-color: inherit;

}